[run]
omit =
       # not used
       */__init__.py

       # not tested directly
       */fedbiomed/node/environ.py
       */fedbiomed/researcher/environ.py

       # all fake/mocks
       */testsupport/*.py

[report]
omit =
       # not used
       */__init__.py

       # not tested directly
       */fedbiomed/node/environ.py
       */fedbiomed/researcher/environ.py

       # all fake/mocks
       */testsupport/*.py
