[run]
omit =
       # not used
       */__init__.py

       # not tested directly
       */fedbiomed/transport/protocols/researcher_pb2.py
       */fedbiomed/transport/protocols/researcher_pb2_grpc.py 

       # all fake/mocks
       */testsupport/*.py
       

[report]
omit =
       # not used
       */__init__.py

       # not tested directly
       */fedbiomed/transport/protocols/researcher_pb2.py
       */fedbiomed/transport/protocols/researcher_pb2_grpc.py 
       
       # all fake/mocks
       */testsupport/*.py
