[flake8]
#select = B,C,E,F,N,P,T4,W,B9
max_line_length = 120
max-complexity = 10

ignore =
    # whitespace before and after ( )
    E201,
    E202,

    # whitespace before ':' ','etc..
    E203,

    # multiple spaces before operator
    E221,

    # unexpected spaces around keyword / parameter equals
    E251,

    # multiple spaces before keyword
    E272,

    # too many blank lines
    E303,

    # do not use bare 'except'
    E722,

    # Do not assign a lambda expression, use a def
    E731,

    # trailing whitespace
    W291,

    # line break after binary operator
    W504,

per_file_ignores =
    # unused import
    __init__.py: F401,

    # escape sequence in splash screen
    # ignore complexity (arg parsing)
    fedbiomed/node/cli.py: , W605, C901,

    # regexp
    fedbiomed/researcher/job.py: W605,
    fedbiomed/researcher/filetools.py: W605


exclude = .git, __pycache__, researcher_pb2_grpc.py, researcher_pb2.py, researcher_pb2.pyi

