absl-py==2.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.2.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
Brotli==1.1.0
cachelib==0.10.2
cachetools==6.0.0
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
coverage==7.8.2
cryptography==40.0.2
csscompressor==0.9.5
cssselect==1.3.0
cssselect2==0.8.0
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.14
declearn==2.6.0.post1
decorator==5.2.1
defusedxml==0.7.1
dep-logic==0.5.1
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
duckduckgo_search==8.0.5
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.115.14
fastjsonschema==2.21.1
-e git+https://github.com/fedbiomed/fedbiomed.git@8606d23f9eb7fe01ecf40450dbcfc769b8240ad2#egg=fedbiomed
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.18.0
filetype==1.2.0
findpython==0.7.0
fire==0.7.0
Flask==2.3.3
Flask-JWT-Extended==4.4.4
fonttools==4.58.2
fqdn==1.5.1
frozenlist==1.7.0
ghp-import==2.1.0
gmpy2==2.1.5
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.2.3
griffe==1.7.3
groq==0.29.0
grpcio==1.73.0
grpcio-status==1.73.1
grpcio-tools==1.73.0
gunicorn==23.0.0
h11==0.16.0
hishel==0.1.2
htmldocx==0.0.6
htmlmin2==0.1.13
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
id==1.5.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
itk==5.4.3
itk-core==5.4.3
itk-filtering==5.4.3
itk-io==5.4.3
itk-numerics==5.4.3
itk-registration==5.4.3
itk-segmentation==5.4.3
itsdangerous==2.2.0
jedi==0.19.2
jieba3k==0.35.1
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsmin==3.0.1
json5==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.18.6
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
jupytext==1.17.2
kiwisolver==1.4.8
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.67
langchain-google-genai==2.1.6
langchain-groq==0.3.5
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langsmith==0.4.4
lxml==6.0.0
Markdown==3.8
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.8.3
matplotlib-inline==0.1.7
md2pdf==1.0.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.1.3
mkdocs==1.5.3
mkdocs-autorefs==1.4.2
mkdocs-get-deps==0.2.0
mkdocs-jupyter==0.24.1
mkdocs-material==9.5.18
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.6.4
mkdocs-redirects==1.2.2
mkdocstrings==0.28.3
mkdocstrings-python==1.10.8
monai==1.1.0
msgpack==1.1.0
multidict==6.6.3
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
newspaper3k==0.2.8
nltk==3.9.1
node==1.2.2
nodeenv==1.9.1
notebook==7.4.3
notebook_shim==0.2.4
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
odict==1.9.0
opacus==1.4.0
openai==1.93.0
opt_einsum==3.4.0
orjson==3.10.18
overrides==7.7.0
packaging==24.2
paginate==0.5.7
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.0.0
pbs-installer==2025.7.2
pdm==2.25.4
persist-queue==0.5.1
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
playwright==1.53.0
pluggy==1.6.0
plumber==1.7
pre_commit==4.2.0
primp==0.15.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.31.1
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydyf==0.11.0
pyee==13.0.0
Pygments==2.18.0
PyJWT==2.10.1
pymdown-extensions==10.15
PyMuPDF==1.26.3
pyOpenSSL==23.1.1
pyparsing==3.2.3
pyphen==0.17.2
pyproject-api==1.9.0
pyproject_hooks==1.2.0
pytest==8.4.0
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
python_minifier==2.11.3
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
Researcher==0.4.3
resolvelib==1.2.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.25.1
rsa==4.9.1
ruff==0.11.13
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.3
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.7
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.46.2
tabulate==0.9.0
tavily-python==0.7.9
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tinydb==4.7.1
tinyhtml5==2.0.0
tinysegmenter==0.3
tldextract==5.3.0
tomli==2.2.1
tomlkit==0.13.3
torch==1.13.1
torchvision==0.14.1
tornado==6.5.1
tox==4.26.0
tqdm==4.67.1
traitlets==5.14.3
truststore==0.10.1
types-python-dateutil==2.9.0.20250516
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
unearth==0.17.5
unet==0.7.9
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.35.0
validators==0.20.0
virtualenv==20.31.2
watchdog==6.0.0
wcwidth==0.2.13
weasyprint==65.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
yarl==1.20.1
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.1
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
zopfli==0.2.3.post1
zstandard==0.23.0
