.main {
    position:relative;
    display: block;
    padding-bottom: 150px;
}

.modalities {
    display: inline-flex;
    margin: 0px 10px;
    border-radius: 10px;
    background: #eee;
    padding: 20px;
}