#
# Minimal configuration for only running a node component from a saved image
#
# Minimal dockerfile permits minimal file tree
# because *all* files dependencies referenced in `docker-compose.yml`
# (eg: `./*/build_files`, `./*/run_mounts/config/config.env`)
# need to exist for *all* containers everytime we run a `docker compose` command
# thus we would have to copy file trees for vpnserver, researcher, etc. when only
# running a node
x-node:
  &standard-node
  container_name: fedbiomed-vpn-node
  hostname: fedbiomed-vpn-node
  image: fedbiomed/vpn-node
  environment:
    # enable overloading build-time id with a run-time id
    - CONTAINER_UID
    - CONTAINER_GID
    - CONTAINER_USER
    - CONTAINER_GROUP
    - FBM_NODE_START_OPTIONS
    - FBM_SECURITY_FORCE_SECURE_AGGREGATION
  cap_add:
    - net_admin
    - sys_module
  devices:
    - /dev/net/tun
  volumes:
    - ./node/run_mounts/config:/config # contains VPN configurations
    - ./node/run_mounts/fbm-node:/fbm-node # contains fedbiomed component configuration and data

#
# optionally launch a second node instance on the same machine
x-node2:
  &standard-node2
  container_name: fedbiomed-vpn-node2
  hostname: fedbiomed-vpn-node2
  image: fedbiomed/vpn-node
  environment:
  # enable overloading build-time id with a run-time id
    - CONTAINER_UID
    - CONTAINER_GID
    - CONTAINER_USER
    - CONTAINER_GROUP
    - FBM_NODE_START_OPTIONS
    - FBM_SECURITY_FORCE_SECURE_AGGREGATION
  cap_add:
    - net_admin
    - sys_module
  devices:
    - /dev/net/tun
  volumes:
    - ./node2/run_mounts/config:/config # contains VPN configurations
    - ./node2/run_mounts/fbm-node:/fbm-node # contains fedbiomed component configuration and data

services:
  # not using gpu
  node:
    << : *standard-node
  # using gpu (need image with gpu support)
  node-gpu:
    << : *standard-node
    runtime: nvidia
  #
  # optionally launch a second node instance
  # not using gpu
  node2:
    << : *standard-node2
  # using gpu (need image with gpu support)
  node2-gpu:
    << : *standard-node2
    runtime: nvidia

  #
  # node gui component
  gui:
    container_name: fedbiomed-vpn-gui
    hostname: fedbiomed-vpn-gui
    image: fedbiomed/vpn-gui
    environment:
      # enable overloading build-time id with a run-time id
      - SSL_ON=true
      - GUI_SERVER_NAME
      - NGINX_PORT_SSL=8443
      - NGINX_PORT_NOSSL=8484
      - CONTAINER_UID
      - CONTAINER_GID
      - CONTAINER_USER
      - CONTAINER_GROUP
    ports:
      - "${GUI_SERVER_IP:-127.0.0.1}:8484:8484" # nginx + flask HTTP server
      - "${GUI_SERVER_IP:-127.0.0.1}:8443:8443" # nginx + gunicorn HTTPS server
    volumes:
      # caution: /fbm-node directory must be shared with node
      - ./gui/run_mounts/certs:/certs
      - ./node/run_mounts/fbm-node:/fbm-node # contains fedbiomed component configuration and data

  #
  # node gui component
  gui2:
    container_name: fedbiomed-vpn-gui2
    hostname: fedbiomed-vpn-gui2
    image: fedbiomed/vpn-gui
    environment:
    # enable overloading build-time id with a run-time id
      - SSL_ON=true
      - GUI_SERVER_NAME
      - NGINX_PORT_SSL=8444
      - NGINX_PORT_NOSSL=8485
      - CONTAINER_UID
      - CONTAINER_GID
      - CONTAINER_USER
      - CONTAINER_GROUP
    ports:
      - "${GUI_SERVER_IP:-127.0.0.1}:8485:8485" # nginx + flask HTTP server
      - "${GUI_SERVER_IP:-127.0.0.1}:8444:8444" # nginx + gunicorn HTTPS server
    volumes:
      # caution: /fbm-node directory must be shared with node
      - ./gui2/run_mounts/certs:/certs
      - ./node2/run_mounts/fbm-node:/fbm-node # contains fedbiomed component configuration and data
