# force use of boringtun over wireguard kernel module
export USE_WG_KERNEL_MOD=false

# replace VPN_SERVER_PUBLIC_ADDR by the public IP or DNS name
# of the host (virtual) machine hosting vpn server
# eg : VPN_SERVER_PUBLIC_ADDR=192.168.1.1
export VPN_SERVER_PUBLIC_ADDR=replace_with.myserver.mydomain
export VPN_SERVER_PORT=51820

export VPN_IP=10.220.0.1
export VPN_SUBNET_PREFIX=14
export VPN_MANAGEMENT_IP_ASSIGN=10.220.0.0/16
export VPN_NODE_IP_ASSIGN=10.221.0.0/16
export VPN_RESEARCHER_IP_ASSIGN=10.222.0.0/16
