.button {
  display: flex;
  align-items: center;
  max-width: 150px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor:pointer
}

.button {
  width: auto;
  padding: 10px;
  color: #fff;
  background-color: var(--button-color);
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.button :global(.icon) , .button :global(div.text) {
  text-align: center;
  margin: 5px;  /* and that, will result in a 10px gap */
}

.button :global(.icon) {
  width: 25px !important;
}

.positive {
    background-color: var(--positive-color)
}
.normal {
    background-color: var(--primary-color);
}
.negative {
   background-color: var(--negative-color);
}
.attention {
    background-color: var(--attention-color);
}
.negative:hover {
  background-color: #d3586d;
}

.button:hover {
  background-color: #888;
}

.buttonsWrapper {
   display: flex;
   width: 100%;
}

.right {
  justify-content: flex-end;
}

.buttonDisable {
    cursor: not-allowed;
    pointer-events: none;
    background: #eee;
}


