

@import "../../assets/var.css";

.tab {
    width: 100%;
    display: flex;
    margin-top: 10px;
    top: 0;

}


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .inner{
  padding-top: 102px;
}

.tab-inner {

}

.singleTab {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    text-align: center;
    text-decoration:none;
    padding: 15px;
    color:var(--header-font-color);
    font-weight:var(--bold-font-weight);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid var(--button-color);
}

.singleTab.active {
    color: var(--hover-font-color);
    background: var(--button-color);
    border-top: 1px solid var(--button-color);
    border-left: 1px solid var(--button-color);
    border-right: 1px solid var(--button-color);
    border-bottom:1px solid transparent;
}