.wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
}

.fields {
    height : 45px !important;
}

.by {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background: var(--button-color);
    color:#fff;
}