name: Deploy Fed-BioMed Package
on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.10"
      - name: List
        run: ls -la

      - name: Install Fed-BioMed
        run: pdm install

      - name: Build
        run: pdm build

      - name: Upload Arftifact
        uses: actions/upload-artifact@v4
        with:
          name: fedbiomed-package
          path: ./dist/

  publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: production
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Download built files
        uses: actions/download-artifact@v4
        with:
          name: fedbiomed-package
          path: ./dist/

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        # Uncomment for testing
        # with:
        #   repository-url: https://test.pypi.org/legacy/

  release:
    name: Release pushed tag
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Extract latest changes
        run: ./scripts/changelog

      - name: Download built files
        uses: actions/download-artifact@v4
        with:
          name: fedbiomed-package

      - name: Make Github Release
        uses: softprops/action-gh-release@v2
        with:
          name: Fed-BioMed Release ${{ github.ref_name }}
          body_path: ./latest_version_changes.txt
