name: Publish MASTER fedbiomed/fedbiomed.github.io
on:
  push:
    branches:
      - master

jobs:
  build-doc:
    name: Publish main in fedbiomed/fedbiomed.github.io repository
    environment: fedbiomed.github.io
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to commit
        uses: actions/checkout@v4

      - name: Checkout tools repo
        uses: actions/checkout@v4
        with:
          repository: fedbiomed/fedbiomed.github.io
          ssh-key: ${{ secrets.FEDBIOMED_GITHUB_IO_DEPLOY_KEY }}
          path: build-repo
      - name: Fetch recent master Repo-> fedbiomed/fedbiomed
        run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git --version
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<fedbiomed>"
          git fetch --tags
          git fetch origin master
          git checkout master
          git tag -l
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4

      - name: Install Dependencies
        run: pdm install -G docs -G dev

      - name: Build documentation
        run: |
          source .venv/bin/activate
          scripts/docs/fedbiomed_doc.sh --build-dir build-repo --build-main

      - name: Publishing by pushing to repo fedbiomed/fedbiomed.github.io
        run: |
          cd build-repo
          git add .
          git commit -m "Deploy main documentation pages"
          git pull --no-edit --no-rebase
          if [ ! git commit -a -m "Pulling recent changes" ]; then
            echo "o changes to commit"
          fi
          git push
          git push
          cd ../
