---
name: New End-to-End Test
run-name: fedbiomed-e2e-tests
permissions: write-all
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:
  push:
    branches:
      - 'develop'
      - 'master'
      - 'feature/ci-runner-reconfiguration'
jobs:
  e2e-test-auto:
    name: e2e tests
    defaults:
      run:
        shell: bash -il {0}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - ubuntu-22.04
          # - macos-latest
          # - fedora-38
          # - macos-m1
        python-version:
          - '3.10'

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout of head
        id: e2e-checkout
        uses: actions/checkout@v4

      - name: Install Python using Pyenv
        uses: ./.github/actions/setup-fbm-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run end-to-end tests
        id: e2e-tests-with-pytest
        run: |
          FEDBIOMED_E2E_DATA_PATH=$HOME/Data/fedbiomed tox \
            -r -m e2e
        shell: bash -il {0}