---
name: Endurance Tests
run-name: endurance-tests

on:
  schedule:
    - cron: "0 1 * * 6"  # Run everyweekend at 1 am
  workflow_dispatch:
  push:
    branches:
      - 'develop'
      - 'master'

jobs:
  endurance-test:
    defaults:
      run:
        shell:  bash -l {0}
    name: Endurance Tests
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-22.04
          - macos-latest
          - fedora-38
          - macos-m1
        python-version:
          - '3.10'
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout
        id: endurance-checkout
        uses: actions/checkout@v4

      - name: Install Python using Pyenv
        uses: ./.github/actions/setup-pyenv
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run end-to-end endurance tests
        id: e2e-tests-with-pytest
        run: |
          pyenv global ${{ matrix.python-version }}
          FEDBIOMED_E2E_DATA_PATH=$HOME/Data/fedbiomed tox -r -m endurance
